<div class="container"> 
 <div class="row">  
  <div class="col-lg-4">
<h1>グループ新規作成</h1>
　<%= form_with model: @group do |f| %>
  <h4>グループ名</h4>
  <%= f.text_field :title %>
  <h4>紹介</h4>
  <%= f.text_area :introduction %>
  <br><%= f.submit 'グループを作成' %>
<% end %>
   </div>
   <div class="col-lg-8">
<h1>グループ一覧</h1>

<% @groups.each do |group| %>
<div class="card" >
 <p>グループ名：<%= group.title %></p>
 <p>紹介：<%= group.introduction %><p>
 <p>グループ作成者:<%= group.owner.nickname %></p>
 <P><%= link_to "詳細", group_path(group.id) %></P>


  <% if group.is_owned_by?(current_user) %>
    <%= link_to "編集", edit_group_path(group) %>
    <%= link_to 'グループ削除', group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</div>
<% end %>
  </div>
 </div>
</div>
