<h1>グループ詳細</h1>

 <p>グループ名：<%= @group.title %></p>
 <p>紹介：<%= @group.introduction %><p>
 <p>グループ作成者:<%= @group.owner.nickname %></p>
 <p>グループ参加者:
   <% @group_members.each do |group_member| %>
    <%= group_member.user.nickname %>
   <% end %>
 </p>
 

 <% if @group.group_members.exists?(user_id: current_user.id) %>
　<%= link_to 'グループ退出', group_group_member_path(@group), method: :delete, data: { confirm: "本当にグループを退出しますか？" }, class:"btn btn-danger" %>
 <% elsif @group.requests.exists?(user_id: current_user.id) %>
　<%= link_to '申請取消', group_request_path(@group), method: :delete, class:"btn btn-success" %>
 <% else %>
　<%= link_to '加入申請', group_request_path(@group), method: :post, class:"btn btn-primary" %>
 <% end %>


 <br><% if @group.owner_id == current_user.id %>
  <%= link_to "承認待ち一覧", requests_path(@group) %>
  <%= link_to 'グループ編集', edit_group_path(@group) %>
  <%= link_to 'グループ削除', group_path(@group), method: :delete, data: { confirm: "本当に削除しますか？" } %>
 <% end %>


