<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'recipe' %>
	<h3>Recipes search for "<%= @content %>"</h3>
  <%= render 'public/recipes/index', recipes: @records %>
<% elsif @model == 'group' %>
	<h3>Groups search for "<%= @content %>"</h3>
  <%= render 'public/groups/index', groups: @records %>  
<% end %>