
<h4>料理名</h4>
<p><%= @recipe.title %></p>

<h4>写真</h4>
<p><%= image_tag @recipe.get_image %></p>

<h4>材料</h4>
<p><%= @recipe.body %></p>

<h4>作り方</h4>
<p><%= @recipe.recipe %></p>

<h4>ユーザーネーム</h4>
<p><%= @recipe.user.name %></p>

<% if @recipe.user == current_user %>
 <%= link_to "編集", edit_recipe_path %>
 <%= link_to "削除", recipe_path(@recipe.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>