<h1>グループ一覧</h1>
<% @groups.each do |group| %>
<div class="card" >
 <p>グループ名：<%= group.title %></p>
 <p>紹介：<%= group.introduction %><p>
 <p>グループ作成者:<%= group.owner.nickname %></p>
 <P><%= link_to "詳細", admin_group_path(group.id), class:"btn btn-info" %></P>
 <p><%= link_to 'グループ削除', admin_group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger" %></p>
 </div>
<% end %>