<h1>ユーザー情報編集</h1>
<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました 
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@user do |f| %>
  

  <div class="field">
   <%= f.label :name %><br>
   <%= f.text_field :name %>
  </div>
  
  <div class="field">
   <%= f.label :nickname %><br>
   <%= f.text_field :nickname %>
  </div>

  <div class="field">
   <%= f.label :email %><br />
   <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if user.email != "guest@example.com" %>
<div class="row">
  <%= link_to "",edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<% end %>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
<br>
<br>
<P>ユーザー退会</P>
<%= link_to "退会",user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？" %>
