<!DOCTYPE html>
<html>
  <head>
    <title>Tairyouchouri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <script src="https://kit.fontawesome.com/d9417e9e89.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="bg-dark text-white pt-5 pb-4">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         <a class="navar-brand" href="/">
          <span>大量調理</span>
          </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>

                <li class="nav-item">
                  <%= link_to "アバウト", homes_about_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'レシピ一覧', recipes_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'レシピ投稿', new_recipe_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-light' %>
                </li>

                <li class="nav-item">
                  <%= link_to 'いいね一覧', root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'グループ', root_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to '検索', root_path, class: 'nav-link text-light' %>
                </li>
                 <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
                </li>
                <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録" , new_user_registration_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-light' %>
                <li class="nav-item">
                  <%= link_to "アバウト", homes_about_path, class: 'nav-link text-light' %>
                </li>
                <li class="nav-item">
                  <%= link_to "レシピ一覧", recipes_path, class: 'nav-link text-light' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <p class="notice"><%= notice %></p>
  　　<p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
  </body>
</html>
